<!-- angular cdn -->
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js'></script>
<!-- Bootstrap Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script>
  var myAppModule = angular.module('calculator',[]);
  myAppModule.controller('calcController', function($scope) {
    $scope.pricesPerUnit = {
      level_1: 3.00,
      level_2: 2.75,
      level_3: 2.50,
      level_4: 2.25,
      level_5: 2.00
    };
    $scope.cumulativePrices = {
      baseprice: 300,
      baseprice_2: 900,
      baseprice_3: 1587.50,
      baseprice_4: 2837.50,
      baseprice_5: 11837.50,
    };
    $scope.units = 100;
    $scope.calculate = function(units) {
      if ($scope.units <= 50) {
        return $scope.cumulativePrices.baseprice
      } else if ($scope.units > 50 && $scope.units <= 250) {
        return $scope.cumulativePrices.baseprice + ($scope.units - 50) * $scope.pricesPerUnit.level_1
      } else if ($scope.units > 250 && $scope.units <= 500) {
        return $scope.cumulativePrices.baseprice_2 + ($scope.units - 250) * $scope.pricesPerUnit.level_2
      } else if ($scope.units > 500 && $scope.units <= 1000) {
        return $scope.cumulativePrices.baseprice_3 + ($scope.units - 500) * $scope.pricesPerUnit.level_3
      } else if ($scope.units > 1000 && $scope.units <= 5000) {
        return $scope.cumulativePrices.baseprice_4 + ($scope.units - 1000) * $scope.pricesPerUnit.level_4
      } else if ($scope.units > 5000) {
        return $scope.cumulativePrices.baseprice_5 + ($scope.units - 5000) * $scope.pricesPerUnit.level_5
      }
    };
    $scope.unitStyle = {
      'font-family': 'adobe-garamond-pro',
      'color': 'rgba(26,26,26,0.7)',
      'box-shadow': '0 0 5px rgba(0,0,0,.3)',
      'padding-top': '17px',
      'padding-bottom': '17px',
      'margin-bottom': '60px'
    };
    $scope.unitHeadingStyle = {
      'font-size': '20px',
      'font-weight': '600',
      'line-height': '24px'
    };
    $scope.unitDescriptionStyle = {
      'color': 'gray',
    };
    $scope.unitPricing = {
      'font-family': 'adobe-garamond-pro',
      'color': 'rgba(26,26,26,0.7)',
      'font-size': '18px',
      'line-height': '18px'
    };
    $scope.unitPricingDescription = {
      'font-family': 'adobe-garamond-pro',
      'color': 'rgba(26,26,26,0.7)',
      'font-size': '18px',
      'line-height': '24px'
    };
  });
</script>
<div ng-app='calculator' class='row'>
  <div ng-controller='calcController' class='col-md-12' ng-style="unitStyle">
      <h4 ng-style='unitHeadingStyle'>How many units do you manage?</h4>
    <div class='form-group'>
      <input class='form-control' type='number' ng-model='units' value={{units}}>
      <input class='slider' type='range' ng-model='units' ng-min='min' ng-max='max'>
    </div>
      <h4 ng-if="units > 0" ng-style='unitHeadingStyle'>You Pay: <b>$ {{ calculate(units) | number: 2}}</b>/month | $ {{ calculate(units) / units | number:2}}/unit</h4>
    <p ng-style='unitDescriptionStyle'>(For unlimited maintenance requests)</p>
  </div>
</div>
