<!DOCTYPE html>
<html ng-app='myApp'>
<head>
    <meta charset="utf-8">
    <title>Unit Calculator</title>
    <!-- angular cdn -->
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js'></script>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script type="text/javascript" src="unitController.js"></script>
</head>

<body>
  <div class='container' id='pricing'>
    <div class='row'>
      <div class='col-md-6 col-md-offset-3'>
        <h2 class='text-center'>Our Pricing</h2>
      </div>

      <div ng-controller='unitController' class='col-md-6 col-md-offset-3'>
        <h4>How many units do you manage?</h4>
        <div class='form-group'>
          <input class='form-control' type='number' ng-model='units' value={{units}}>
        </div>
        <h4 ng-if="units <= 5000">You Pay: <b>${{ calculate(units) | number: 2}}</b>/month</h4>
        <h4 ng-if="units > 5000">You Pay: <b>Contact Us for a Quote</b></h4>
        <p>(For unlimited maintenance requests)</p>
      </div>

<!--       <div class='col-md-3 unitInfo' >
        <p>0 - 50 Units | $300/month</p>
        <p>51 - 250 Units | $3.00/unit</p>
        <p>251 - 500 Units | $2.50/unit</p>
        <p>501 - 1000 Units | $2.00/unit</p>
        <p>1001 - 5000 Units | $1.50/unit</p>
        <p>5000+ Units | Contact Us for Quote</p>
      </div>
      <div class='col-md-9 unitInfo'>
        <p>Our services are priced to increase your profit margins when handling maintenance. We charge a monthly fee based on your total number of units.</p>
      </div>
 -->
    </div> <!-- row -->
  </div> <!-- container -->

</body>
</html>
